
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% load index_extras %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

{% load staticfiles %}
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>{% block title %}{{ title }}{% endblock %}</title>

<link rel="SHORTCUT ICON" type="image/x-icon" href="{% static "image/anaforafavicon.png" %}" />
<link rel="icon" type="image/x-icon" href="{% static "image/anaforafavicon.png" %}" />
{% for cssName in css %}
<link rel="stylesheet" href="{% static cssName %}" type="text/css" media="screen" />
{% endfor %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
{% for jsName in js %}
<script src="{% static jsName %}" type="text/javascript"></script>
{% endfor %}
{% for schema, schemaMode in js_schemaSpecific.items %} {% ifequal schema settingVars.schema %} {% if settingVars.isAdjudication %} {% if schemaMode.adjudication %} {% for jsName in schemaMode.adjudication %}
<script src="{% static jsName %}" type="text/javascript"></script>
{% endfor %} {% endif %} {% else %} {% if schemaMode.annotate %} {% for jsName in schemaMode.annotate %}
<script src="{% static jsName %}" type="text/javascript"></script>
{% endfor %} {% endif %} {% endif %} {% endifequal %} {% endfor %}
<script type="text/JavaScript">
  var _setting = {
	{% for varKey, value in settingVars.items %}
		{{ varKey }}:{% if value|type == 'str' %} "{{ value }}",{% elif value|type == 'int' %}{{ value }},{% elif value|type == 'bool' %} {{ value|yesno:"true,false,undefined" }},{% endif %}{% endfor %}
		root_url: "{{ ROOT_URL }}"}
   window.addEventListener("load", function(event) {
    onLoad();
  });
</script>
</head>
<body>
        {% block container %}{% endblock %}
</body>
</html>
